#logo img {
    max-height: 150px;
    border-radius: 10%;
}
#title h1 {
    font-size: 3rem;
}
#make-button, #buttons-view {
    min-height: 150px;
}
body {
    background: url("https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}